@font-face {
  font-family: "Grtsk Variable";
  src: url("TRYGrtsk-[wght,wdth,slnt].ttf") format("truetype");
  font-weight: 100 1000;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: black;
  color: gray;
  font-family: "Grtsk Variable", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body {
  padding: 0 4em;
  width: 100%;
  gap: 6em;
}

ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  position: relative;
  transition: all 0.4s ease;
}

li {
  font-size: 2em;
  transition: all 0.3s ease;
  cursor: pointer;
}

li:hover {
  color: white;
  transform: translateX(0.3em);
}

ul.menu.active li[data-content] {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-1em);
}

.back-btn {
  display: none;
  opacity: 0;
  color: gray;
  transition: all 0.4s ease;
  position: absolute;
  top: -6em;
  left: 0;
}

ul.menu.active .back-btn {
  display: block;
  opacity: 1;
  color: white;
  cursor: pointer;
  transform: translateX(0.3em);
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  position: relative;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s cubic-bezier(.33,1.11,.69,1.5);
  position: absolute;
  max-width: 600px;
  color: white;
  pointer-events: none;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.project-menu {
  transition: opacity 0.4s ease;
}

.project-menu.hidden {
  opacity: 0;
  pointer-events: none;
}

ul.project-list {
  list-style: none;
  display: flex;
  gap: 2em;
  justify-content: center;
  margin: 1em 0 0 0;
  padding: 0;
}

.project-item {
  font-size: 2em;
  color: gray;
  transition: all 0.3s ease;
  cursor: pointer;
}

.project-item:hover {
  color: white;
  transform: translateY(-0.2em);
}

.project-section {
  display: none;
}

.project-section.visible {
  display: block;
  animation: fadeIn 0.5s ease forwards;
}

.project-section a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-section a:hover {
  color: white;
}

ul.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 0;
  margin-top: 1em;
}

ul.socials li a {
  text-decoration: none;
  color: gray;
  font-size: 1.8em;
  transition: all 0.3s ease;
}

ul.socials li a:hover {
  color: white;
  transform: translateY(-0.2em);
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(15px);}
  to {opacity: 1; transform: translateY(0);}
}
